@font-face {
  font-family: 'OPPO Sans';
  src: url('@/assets/font/OPPO Sans 4.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Ant Design Vue Reset Styles */
@import 'ant-design-vue/dist/reset.css';

:root {
  font-family: 'OPPO Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w {
  width: 1440px;
  margin: 0 auto;
}